@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welkom</h1>
    <div class="btn-group" role="group">
       <a class="btn btn-primary" role="button" asp-page="/RegisterUser/RegistrationformPage">Registreer</a>
       <a class="btn btn-primary" role="button" asp-page="/GetAllApplications/FormApplications">Inschrijvingen</a>
</div>
</div>
