@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welkom</h1>
    <div class="btn-group" role="group">
       <a class="btn btn-primary" role="button" asp-page="/RegistrationformPage">Registreer</a>
       <a class="btn btn-primary" role="button" asp-page="/FormApplications">Inschrijvingen</a>
</div>
</div>
